
				<%= form_for [@blog, @comment] do |f| %>
				  <div class = "commentheader"><%= f.label :comment %>:<br>
				  <div class = "updatecomment"><%= f.text_area :content, :cols => 50, :rows => 3 %><br><br />
				  <div class = "commentsubmit"><%= f.submit %></div>
				<% end %>
	
	