
				<%= form_for [@blog, @comment] do |f| %>
				  <div class = "commentheader"><%= f.label :comment %>:<br>
				  <div class = "updatecomment"><%= f.text_field :content, :cols => 83, :rows => 3 %><br>
				  <div class = "commentsubmit"><%= f.submit %></div>
				<% end %>
	
	