<!-- Current Comment Being Edited -->
<div class="container-fluid">
	<div class="row content">
		<div class="col-md-9"> 
			<div class = "editcomment">
				<h1> Edit Your Comments:</h1>
					<%= render 'comments/form' %>
			</div>
		</div>
	</div>
</div>