<div class = "editcommentheader"><h2> Create A New Chatroom:</h2>
<div class="container-fluid">
	<div class="row content">
		<div class="col-md-9"> 
			<div class = "editcomment">

			<%= render 'form', chatroom: @chatroom %>

			<%= link_to 'Back', chatrooms_path %>
			</div>
		</div>
	</div>
</div>