// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.sportpost {

	border: 4px solid red;
	width: 80%;
	font-size: 20px;
	position: relative;
	left: 300px;


}

.scontent {

	border: 4px solid black;
	width: 50%;

}