@import "variables";


.sportarticles {

	// border: 2px solid green;
	width: 70%;
	font-size: 20px;
	overflow-y: scroll;
	border-radius: 5px;
	margin-left: 300px;


}

.article-list {

	// border: 4px solid purple;
	height: 400px;

}


.sportcontent {

	border: 2px solid green;
	width: 50%;
	height: 100px;

}

.showheader h2 {

	text-align: center;	
	font-size: 30px;
	text-decoration: none;
	border: 2px solid $hanblue;
	height: 50px;
	padding-top: 15px;
	position: relative;
	bottom: 30px;
	background: linear-gradient(to right, $white , #829BE1);
	text-shadow: 2px 2px $hanblue;
	color: $white;

}

