@import "variables";



.editcomment {

	border: 4px solid $dkblue;
	text-align: center;
	margin-left: 300px;
	color: $dkblue;
	height: 300px;
	border-radius: 25px;
	background-color:  $lightgrey;

}

.commentheader {
	font-size: 20px;
	color: $dkblue;
	padding-top: 40px;
	// text-shadow: 2px 2px $hanblue;

}

.updatecomment {

	color: $black;


}

.usedheader h1 {
	border: 4px solid $dkblue;



}

.editcommentheader h2 {

		// text-align: center;	
	font-size: 36px;
	// margin-left: 100px;
	color: $dkblue;
	border: 2px solid $hanblue;
	padding-left: 600px;
	height: 60px;
	padding-top: 10px;
	position: relative;
	bottom: 25px;
	background: linear-gradient(to right, $white , $dkblue);
	text-shadow: 2px 2px #4C71D4;
	color: $white;

}