@import "variables";

.favorites {

	border: 2px solid red;
	text-align: center;
	display: block;
	position: relative;
	left: 800px;
	width: 20%;
	height: 300px;
	font-size: 16px;

}

.bodycontainer {

	border: 2px solid blue;
	position: relative;
	width: 60%;
	bottom: 330px;
	height: 500px;



}

#messages {

	border: 2px solid green;
	width: 100%;
}

.bposttitle {

	font-size: 20px;
}

button {

	font-size: 16px;

}



























