@import "variables";



// .favoriteposts {

// 	position: relative;
// 	top: 400px;


// }

.userheader {

	text-align: center;	
	font-size: 24px;
	text-decoration: none;
	border: 2px solid $hanblue;
	height: 60px;
	padding-bottom: 10px;
	position: relative;
	bottom: 30px;
	background: linear-gradient(to right, $white , $dkblue);
	text-shadow: 2px 2px #4C71D4;
	color: $white;


}

.favecategoryheader h2 {

	font-size: 30px;
	text-align: center;



}

.userauthored {

	text-align: center;

}













