$mainnav-font: 'Roboto', sans-serif;
$sportlinknav-font: 'Lato', sans-serif;
$body-font: 'Bitter', serif;

$lightgrey: #dcdee2;
$black: #141415;
$hanblue: #4C71D4;
$dkblue: #17256b;
$white: #f7faff;

// $round-img-radius:50%;

